@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: fff;
    font-size: 15px;
    font-family: ;
}

.container {
    box-sizing: border-box;
    height: 100vh;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card_orange {
    background-color: hsl(31, 77%, 52%);
    width: 250px;
    height: 360px;
}
.card_teal {
    background-color: hsl(184, 100%, 22%);
    width: 250px;
    height: 360px;
}

.card_emerald{
    background-color: hsl(179, 100%, 13%);
    width: 250px;
    height: 360px;
}
.card_image{
    margin: 30px;
}
.card_text {
    margin: 30px;
}
.header {
    margin-bottom: 20px;
    color: hsl(0, 0%, 95%);
}
.text {
    margin-bottom: 60px;
    color: hsla(0, 0%, 100%, 0.75);
}
.card_button {
    color: hsl(0, 0%, 95%);
    margin: 30px;
}
.submit_1 {
    border-radius: 35px;
    border: none;
    padding: 10px 25px;
    color: hsl(31, 77%, 52%);
}
.submit_2 {
    border-radius: 35px;
    border: none;
    padding: 10px 25px;
    color: hsl(184, 100%, 22%);
}
.submit_3 {
    border-radius: 35px;
    border: none;
    padding: 10px 25px;
    color: hsl(179, 100%, 13%);
}